@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00897B;
  --secondary-color: #FF5722;
}

body {
  @apply m-0 p-0 font-sans text-gray-800;
}

/* Custom utility classes */
.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}